<%= form_with(model: transport, local: true, class: 'form-horizontal') do |form| %>
  <% if transport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

      <ul>
      <% transport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="col-3">
      <%= form.label :domain, class: 'form-label' %>
    </div>
    <div class="col-9">
      <%= form.text_field :domain, class: 'form-input' %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-3">
      <%= form.label :nexthop, class: 'form-label' %>
    </div>
    <div class="col-9">
      <%= form.text_field :nexthop, class: 'form-input' %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-3">
      <%= form.label :port, class: 'form-label' %>
    </div>
    <div class="col-9">
      <%= form.number_field :port, class: 'form-input' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
