<%= form_with(model: bcc_conversion_disable_domain, local: true) do |form| %>
  <% if bcc_conversion_disable_domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bcc_conversion_disable_domain.errors.count, "error") %> prohibited this bcc_conversion_disable_domain from being saved:</h2>

      <ul>
      <% bcc_conversion_disable_domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :domain %>
    <%= form.text_field :domain %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
