<%= form_with(model: attachments_encryption_disable_email, local: true, class: 'form-horizontal') do |form| %>
  <% if attachments_encryption_disable_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachments_encryption_disable_email.errors.count, "error") %> prohibited this attachments_encryption_disable_email from being saved:</h2>

      <ul>
      <% attachments_encryption_disable_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="col-3">
      <%= form.label :email, class: 'form-label' %>
    </div>
    <div class="col-3">
      <%= form.text_field :email, class: 'form-input' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
