<p id="notice"><%= notice %></p>

<p>
  <strong>Setting:</strong>
  <%= @attachments_encryption_disable_domain_to.setting %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @attachments_encryption_disable_domain_to.domain %>
</p>

<%= link_to 'Edit', edit_attachments_encryption_disable_domain_to_path(@attachments_encryption_disable_domain_to) %> |
<%= link_to 'Back', attachments_encryption_disable_domain_tos_path %>
