<p id="notice"><%= notice %></p>

<p>
  <strong>Setting:</strong>
  <%= @attachments_encryption_disable_domain_from.setting %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @attachments_encryption_disable_domain_from.domain %>
</p>

<%= link_to 'Edit', edit_attachments_encryption_disable_domain_from_path(@attachments_encryption_disable_domain_from) %> |
<%= link_to 'Back', attachments_encryption_disable_domain_froms_path %>
