<!DOCTYPE html>
<html>
  <head>
    <title>DecoMailFilter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
        <h1>DECOメールフィルター設定</h1>
      </section>
      <section class="navbar-section">
        <%= link_to '全体設定', root_path, class: 'btn btn-link' %>
        <p>BCC変換無効</p>
        <%= link_to 'ドメイン', bcc_conversion_disable_domains_path, class: 'btn btn-link' %>
        <p>添付ファイル暗号化無効化設定</p>
        <%= link_to 'アドレス', attachments_encryption_disable_emails_path, class: 'btn btn-link' %>
        <%= link_to '送信先ドメイン', attachments_encryption_disable_domain_tos_path, class: 'btn btn-link' %>
        <%= link_to '送信元ドメイン', attachments_encryption_disable_domain_froms_path, class: 'btn btn-link' %>
      </section>
    </header>
    <% if notice %>
      <div id="notice" class="toast toast-success"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
